<template>
  <client-only>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <nuxt-link class="navbar-item" to="/">My Pizza</nuxt-link>
          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarTop"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div v-if="$auth.user" class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{$auth.user.username}}</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" @click.prevent="$auth.logout()">Cerrar sesión</a>
            </div>
          </div>
        </div>
        <div v-else id="navbarTop" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <nuxt-link to="/register" class="button is-danger">
                  <strong>Regístrate</strong>
                </nuxt-link>
                <nuxt-link to="/login" class="button is-light">Iniciar sesión</nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </client-only>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  computed: {
    // Set your username thanks to your getter
    username() {
      return this.$store.getters['auth/username']
    }
  },
  methods: {
    // Define your needed mutations, here: auth/logout
    ...mapMutations({
      logout: 'auth/logout'
    })
  }
}
</script>

<style scoped>
.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px;
}
</style>