<template>
  <div style="background-color:#f4f5f5">
    <div class="container" style="padding-top: 3rem">
      <div v-if="restaurant" class="row parent">
        <div class="col-md-2 p-sticky">
          <h2 class="subtitle">Categorías</h2>
          <aside class="menu">
            <ul class="menu-list">
              <li v-for="category in restaurant.categories" :key="category.id">
                <a :href="`#${createSlug(category.name)}`">{{
                  category.name
                }}</a>
              </li>
            </ul>
          </aside>
        </div>
        <div class="col-md-7 menu">
          <h2 class="subtitle">Menú</h2>
          <div v-for="category in restaurant.categories" :key="category.id">
            <h3
              class="title is-3"
              :id="`${createSlug(category.name)}`"
              style="
              font-weight: 700; 
              font-size: 28px;
              line-height: 36px;
              letter-spacing: -.02em;
              margin-bottom: 1rem "
            >
              {{ category.name }}
            </h3>
            <div class="row">
              <div
                class="col-md-6"
                style="margin-bottom: 1rem"
                v-for="dishe in category.dishes"
                :key="dishe.id"
              >
                <div class="card" @click="addToCart(dishe)">
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-96x96">
                          <img
                            :data-src="[
                              dishe.image
                                ? `https://res.cloudinary.com/awweat/image/upload/${dishe.image.media.provider_metadata.public_id}`
                                : 'https://bulma.io/images/placeholders/96x96.png'
                            ]"
                            class="lazyload blur-up"
                            :alt="dishe.name"
                            width="96"
                            height="96"
                          />
                        </figure>
                      </div>
                      <div class="media-content">
                        <h4 class="title is-4">{{ dishe.name }}</h4>
                        <h5
                          class="subtitle is-6 has-text-grey description"
                          style="margin-bottom:0"
                          v-if="dishe.description"
                        >
                          {{ dishe.description }}
                        </h5>
                        <h5 class="subtitle is-3 has-text-grey">
                          {{ dishe.price.toFixed(2) }}€
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 cart p-sticky">
          <div class="card">
            <div class="card-content">
              <h2 class="subtitle">Detalles de tu pedido</h2>
              <ul v-if="numberOfItems > 0">
                <li
                  class="cart-item"
                  v-for="(article, index) in cart"
                  :key="article.id"
                >
                  <input
                    type="number"
                    class="input"
                    :value="article.quantity"
                    @input="handleItemCart({ $event, index })"
                  />
                  <small style="padding:0 1rem">{{ article.name }}</small>
                  <span
                    >{{ (article.price * article.quantity).toFixed(2) }}€</span
                  >
                </li>
              </ul>
              <article v-else class="message is-info">
                <div class="message-body">Tu carrito está vacío</div>
              </article>
              <button
                class="button is-primary is-fullwidth cart-btn"
                :title="[numberOfItems === 0 ? 'Disabled button' : '']"
                :disabled="numberOfItems === 0"
                @click="handleOrder"
              >
                <span>{{ numberOfItems }}</span>
                <span>Hacer pedido</span>
                <span>{{ price.toFixed(2) }}€</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import restaurantQuery from '~/apollo/queries/restaurant/restaurant'

export default {
  apollo: {
    restaurant: {
      prefetch: true,
      query: restaurantQuery,
      variables() {
        return { id: 1 }
      }
    }
  },
  methods: {
    ...mapMutations({
      addToCart: 'cart/add',
      removeFromCart: 'cart/remove',
      handleItemCart: 'cart/handleItemCart'
    }),
    handleOrder() {
      this.$router.push('/order/info')
    },
    createSlug(name) {
      return name
        .toLowerCase()
        .split(' ')
        .join('-')
    }
  },
  computed: {
    ...mapGetters({
      cart: 'cart/items',
      price: 'cart/price',
      numberOfItems: 'cart/numberOfItems'
    })
  }
}
</script>

<style lang="scss" scoped>
* {
  box-sizing: border-box;
}
.row.parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  overflow: visible;
  .p-sticky {
    position: sticky;
    top: 10px;
    .menu {
      overflow-y: scroll;
      height: 75vh;
      &::-webkit-scrollbar {
        width: 3px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #eeeeee;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      .menu-list li {
        &:hover {
          border-left: 1px solid #dbdbdb;
        }
      }
    }
  }
}
.menu {
  .card {
    width: 100%;
    height: 150px;
    margin-bottom: 1rem;
    box-shadow: none;
    border-radius: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0px 0 1px rgba(10, 10, 10, 0.02);
    }
    .media-left {
      img {
        border-radius: 3px;
      }
    }
    .media-content {
      overflow: hidden;
    }
    .description {
      text-overflow: ellipsis;
      width: calc(230px - 1.5rem);
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
.cart {
  &-item {
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    span {
      justify-self: center;
    }
  }
  &-btn {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }
}
</style>
