<template>
  <div class="container" style="padding-top: 3rem">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-content">
            <h2 class="subtitle is-1">Detalles de entrega</h2>
            <form @submit.prevent="sendPedido">
              <div class="field">
                <label class="label">Dirección</label>
                <div class="control">
                  <input
                    v-model="orderDetails.address"
                    class="input"
                    type="text"
                    required
                  />
                </div>
                <p class="help">Incluye tu calle y bloque</p>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="field">
                    <label class="label">Ciudad / Localidad</label>
                    <div class="control">
                      <input
                        v-model="orderDetails.city"
                        class="input"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="field">
                    <label class="label">Código postal</label>
                    <div class="control">
                      <input
                        v-model="orderDetails.postal_code"
                        class="input"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="field">
                    <label class="label">Tipo de pedido</label>
                    <div class="control">
                      <div class="select">
                        <select
                          required
                          :value="orderType"
                          @input="handleOrderType"
                          v-model="orderDetails.type"
                        >
                          <option value="delivery">Entrega</option>
                          <option value="pickup">Recoger</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label">Número teléfono</label>
                <div class="control">
                  <input
                    class="input"
                    type="tel"
                    pattern="(([+]?34) ?)?(6(([0-9]{8})|([0-9]{2} [0-9]{6})|([0-9]{2} [0-9]{3} [0-9]{3}))|9(([0-9]{8})|([0-9]{2} [0-9]{6})|([1-9] [0-9]{7})|([0-9]{2} [0-9]{3} [0-9]{3})|([0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2})))"
                    required
                    v-model="orderDetails.phone"
                  />
                </div>
              </div>

              <!-- <div class="field">
                <label class="label">Método de pago</label>
                <div class="control">
                  <label class="radio">
                    <input
                      type="radio"
                      name="payment_method"
                      value="card"
                      required
                    />
                    Tarjeta de credito/débito
                  </label>
                  <label class="radio">
                    <input
                      type="radio"
                      name="payment_method"
                      value="paypal"
                      required
                    />
                    Paypal
                  </label>
                </div>
              </div>-->

              <div class="field">
                <label class="label">Nota para el restaurante</label>
                <div class="control">
                  <textarea
                    v-model="orderDetails.note"
                    class="textarea"
                    placeholder='Por ejemplo: "El timbre no funciona". No incluyas detalles sobre alergias aquí.'
                  ></textarea>
                </div>
                <p class="help">
                  Deja una nota para el restaurante con cualquier cosa que
                  necesiten saber (por ejemplo, el timbre no funciona). No
                  incluyas detalles sobre alergias.
                </p>
              </div>

              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" />
                    Estoy de acuerdo con los
                    <a href="#">términos y condiciones</a>
                  </label>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-primary">
                    Realizar pedido {{ orderTypeText }}
                  </button>
                </div>
                <div class="control">
                  <nuxt-link to="/categories" class="button is-primary is-light"
                    >Seguir comprando</nuxt-link
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 offset-md-2">
        <div class="card">
          <div class="card-content">
            <h2 class="subtitle is-1">Tu pedido</h2>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'OrderInfo',
  middleware: 'auth',
  data: () => {
    return {
      orderDetails: {
        address: 'Test',
        postal_code: '08032',
        dishes: null,
        amount: null,
        datetime: null,
        type: null,
        order_state: null,
        city: null,
        phone: null,
        note: null,
        restaurant: null
      }
    }
  },
  methods: {
    handleOrderType({ target }) {
      this.$store.commit('cart/orderType', target.value)
    },
    sendPedido() {
      const token = localStorage.getItem('auth._token.local')
      const dishes = [...this.$store.state.cart.items].map(dish => {
        return {
          id: dish.id,
          name: dish.name,
          price: dish.price,
          quantity: dish.quantity
        }
      })

      this.orderDetails.datetime = new Date().toISOString()
      this.orderDetails.order_state = 'pending'
      this.orderDetails.amount = this.price
      this.orderDetails.restaurant = 1
      this.orderDetails.dishes = dishes

      this.$socket.emit('order', { order: this.orderDetails, token })

      this.$router.push('/success')
    }
  },
  computed: {
    ...mapGetters({
      orderType: 'cart/orderType',
      price: 'cart/price'
    }),
    orderTypeText() {
      let text = ''
      if (this.orderType === 'delivery') text = 'para entregar'
      if (this.orderType === 'pickup') text = 'para recoger'
      return text
    }
  }
}
</script>

<style>
.select {
  width: 100%;
}
select {
  width: 100%;
}
</style>
