<template>
  <div>
    <div
      v-if="restaurant"
      class="bg"
      :style="`background-image: url('${restaurant.image.url}')`"
    >
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-content">
              <h1 class="title is-1">{{restaurant.name}}</h1>
              <address>{{restaurant.address}}</address>
              <p style="margin-top: 1rem">{{restaurant.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <button
            class="button is-large is-fullwidth is-danger is-outlined"
            v-for="(section, index) in sections"
            :key="index"
            :disabled="!section.state"
            @click="handleType(section.type)"
          >{{section.name}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import restaurantQuery from '~/apollo/queries/restaurant/info'

export default {
  data() {
    return {
      sections: [
        {
          name: 'Pedido a domicilio',
          type: 'delivery',
          state: 1
        },
        {
          name: 'Pedido para recoger',
          type: 'pickup',
          state: 1
        },
        {
          name: 'Reserva de mesa con pedido',
          type: '',
          state: 0
        },
        {
          name: 'Reserva de mesa',
          type: '',
          state: 0
        }
      ]
    }
  },
  apollo: {
    restaurant: {
      prefetch: true,
      query: restaurantQuery,
      variables() {
        return { id: 1 }
      }
    }
  },
  methods: {
    ...mapMutations({
      setOrderType: 'cart/orderType'
    }),
    handleType(type) {
      this.setOrderType(type)
      this.$router.push('/categories')
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  margin-top: 3rem;
}
.button {
  margin-bottom: 1rem;
}
.bg {
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .row {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>