<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-content">
            <h1 class="title">Iniciar sesión</h1>
            <Notification v-if="error" :message="error" />
            <form @submit.prevent="handleSubmit">
              <div class="field">
                <label class="label">Correo electrónico</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" v-model="user.email" required />
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Contraseña</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" v-model="user.password" required />
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button
                    v-if="!loading"
                    class="button is-block is-medium is-link is-fullwidth is-size-6"
                  >Iniciar sesión</button>
                  <button
                    v-else
                    class="button is-link is-loading is-block is-medium is-fullwidth is-size-6"
                  >Loading</button>
                </div>
              </div>
            </form>
            <div style="padding: 5px 0; text-align: center" class="has-text-grey">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">- o -</font>
              </font>
            </div>
            <a class="button is-medium is-fullwidth is-size-6" href="#" disabled>
              <span class="icon">
                <img src="img/logo-google.png" alt />
              </span>
              <span class="google-button__text">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Continuar con Google</font>
                </font>
              </span>
            </a>
            <p class="has-text-centered" style="margin: 9px 0">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">¿Aún no tienes una cuenta?</font>
              </font>
            </p>
            <nuxt-link
              to="/register"
              class="button is-block is-primary is-medium is-fullwidth is-size-6"
            >
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Regístrate</font>
              </font>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import strapi from '~/utils/Strapi'
import Notification from '~/components/Notification'

export default {
  middleware: 'guest',
  components: { Notification },
  data: () => {
    return {
      user: { email: 'user@email.com', password: 'useruser' },
      error: null,
      loading: false
    }
  },
  methods: {
    async handleSubmit() {
      try {
        this.loading = true

        const { data } = await this.$auth.loginWith('local', {
          data: {
            identifier: this.user.email,
            password: this.user.password
          }
        })

        this.$router.push('/')

        this.loading = false
      } catch (err) {
        this.loading = false
        this.error = 'El email o la contraseña son incorrectos.'
      }
    },
    ...mapMutations({
      setUser: 'auth/setUser'
    })
  }
}
</script>

<style lang="scss" scoped>
.container {
  margin-top: 3rem;
}
</style>
