<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="notification is-primary is-light">
            <button class="delete"></button>
            Pedido creado con exito!
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.container {
  margin-top: 3rem;
}
</style>
